button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hero {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), -webkit-linear-gradient(-280deg, #217142, #214271), no-repeat #214271 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em; }
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: white; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e3e3e3);
      background-image: linear-gradient(white, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5e0e0);
      background-image: linear-gradient(white, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: .5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      .hero .hero-inner .hero-copy p {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
